scikit-learn==0.20.2
nlp-architect==0.5.4
tensorflow==1.15.2
bert-tensorflow==1.0.0
transformers==2.4.1
bigdl==0.11.1
gym==0.17.1
torch==1.4.0
torchvision==0.3.0
ray==0.8.4
xgboost==1.1.1
onnx==1.6.0
mxnet==1.6.0
matplotlib==3.2.1
featuretools==0.13.4
numpy==1.16.4
pandas==1.0.3
sphinx-copybutton
sphinx-version-warning
sphinx-click
sphinx-jsonschema

