nlp-architect==0.5.4
tensorflow==1.15.2
bert-tensorflow==1.0.0
bigdl==0.11.1
ray[tune]
gluonnlp
ray==0.8.4
onnx==1.6.0
mxnet==1.6.0
featuretools==0.13.4
sphinx-copybutton
sphinx-jsonschema
sphinx-click
